<div class="row">
    <div class="col-md-4 offset-md-2">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Nombre del Héroe</label>
                        <input type="text" name="name" [(ngModel)]="hero.name" class="form-control" autofocus>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tipo</label>
                        <input type="text" name="tipo" [(ngModel)]="hero.hero_type" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Condición</label>
                        <input type="text" name="condicion" [(ngModel)]="hero.condicion" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Poderes</label>
                        <textarea name="poderes" class="form-control" [(ngModel)]="hero.power_type" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Vehículo</label>
                        <input type="text" name="vehiculo" [(ngModel)]="hero.vehicle" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Lugar operación</label>
                        <input type="text" name="lugar" [(ngModel)]="hero.operation_place" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Link de la imagen</label>
                        <input type="url" name="image" [(ngModel)]="hero.image" class="form-control">
                    </div>
                    <button class="btn btn-success btn-block" (click)="saveNewHero()">
                        Agregar
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h1>Vista previa</h1>
        <div class="card rounded-top">
            <img [src]="hero.image == '' ? '../../assets/no-image.png' : hero.image" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title display-6">{{ hero.id == 0 ? "" : hero.id + "-" }}  {{ hero.name }}</h5>
                <h6 class="card-subtitle mb-2"><strong>Tipo:</strong> {{ hero.hero_type }}</h6>
                <h6 class="card-subtitle mb-2"><strong>Condición:</strong> {{ hero.condicion }}</h6>
                <h6 class="card-subtitle mb-2"><strong>Poderes:</strong> {{ hero.power_type }}</h6>
                <h6 class="card-subtitle mb-2"><strong>Vehículo:</strong> {{ hero.vehicle }}</h6>
                <h6 class="card-subtitle mb-2"><strong>Lugar operación:</strong> {{ hero.operation_place }}</h6>
            </div>
        </div>

    </div>

</div>